/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body{
    background-color: black;
    font-family: 'Bree Serif';
}
main{
    background-color: white;
    margin-top: 25%;
}
#testoAlternato{
    border: black;
}
span{
    color: #6a889c;
    opacity: 0;
}
.parole{
    transition-delay: 0.5s;
}
