body{
    background-color: black;
    font-family: 'Indie Flower', cursive;
}
#container{
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 25%;
}
.giallo{
    background-color: #dedfaf;
    margin: 20px;
    transform: rotate(352deg);
    transform-origin: bottom right;
   box-shadow: 2px 2px 5px;
    
}
.verde{
    background-color: #b6d9b7;
    margin: 20px; 
    transform: rotate(6deg);
    transform-origin: bottom right;
    box-shadow: 2px 2px 5px;
   

}
.viola{
    background-color: #b4b3cf;
    margin: 20px;    
    transform: rotate(345deg);
    transform-origin: bottom right;
   box-shadow: 2px 2px 5px;
}
h3{
    font-weight: bold;
}
.giallo:hover,
.verde:hover,
.viola:hover{
    transform: translateY(0) scale(1);
    transition: all 300ms;
    cursor: pointer;
}